{% set donate_menu = donate_menu_items[0] ?? {} %}

<div id="burger-menu">
  <button class="nav-menu-close" type="button"
    aria-label="{{ __( 'Close burger menu', 'planet4-master-theme' ) }}"
    aria-expanded="false"
    data-bs-toggle="open"
    data-bs-target="#burger-menu">
    <span class="visually-hidden">
      {{ __( 'Close burger menu', 'planet4-master-theme' ) }}
    </span>
  </button>
  <div class='top-side'>
    <a class="site-logo" href="{{ data_nav_bar.home_url }}">
      {% include 'blocks/site_logo.twig' %}
    </a>
		{% if site_languages is not empty %}
			{% set current_lang = site_languages|filter(i => i.active)|first %}
			<button class="nav-languages-toggle" type="button"
				aria-label="{{ __( 'Choose language', 'planet4-master-theme' ) }}"
				aria-expanded="false"
				data-bs-toggle="open"
				data-bs-target="#nav-languages"
			>{{ current_lang.code|capitalize }}</button>
			<nav id="nav-languages" class="nav-languages">
				<ul>
				{% for key,item in site_languages %}
				<li class="nav-item {{ item.active ? 'current-language' : '' }}">
					<a class="nav-link" href="{{ item.url }}">{{ item.native_name }}</a>
					<span aria-hidden="true">&nbsp;|&nbsp;</span>
				</li>
				{% endfor %}
				</ul>
			</nav>
		{% endif %}
  </div>
  <nav>
    <ul>
      {% for key,item in navbar_menu_items %}
      <li class="burger-menu-item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
        {% if fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == act_page_id %}
          {% set link_ga_action = 'Act' %}
        {% elseif fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == explore_page_id %}
          {% set link_ga_action = 'Explore' %}
        {% else %}
          {% set link_ga_action = item.title %}
        {% endif %}
				<div class='item-wrapper'>
					<a
						class="nav-link"
						href="{{ item.get_link }}"
						data-ga-category="Menu Navigation"
						data-ga-action="{{ link_ga_action }}"
						data-ga-label="{{ page_category }}">
							{{ item.title }}
					</a>
        	{% if item.children is not empty %}
						<button class="collapsable-btn" data-target="accordion-menu-{{ item.id }}" aria-expanded="false" aria-controls="accordion-menu-{{ item.id }}" />
        	{% endif %}
				</div>
        {% if item.children is not empty %}
          <nav id="accordion-menu-{{ item.id }}" class="accordion-menu">
            <ul>
            {% for key,item in item.children %}
              <li>
								{% if fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == act_page_id %}
									{% set link_ga_action = 'Act' %}
								{% elseif fn('get_post_meta', item.ID, '_menu_item_object_id', true ) == explore_page_id %}
									{% set link_ga_action = 'Explore' %}
								{% else %}
									{% set link_ga_action = item.title %}
								{% endif %}
                <a
                  class="nav-link"
                  href="{{ item.get_link }}"
                  data-ga-category="Menu Navigation"
                  data-ga-action="{{ link_ga_action }}"
                  data-ga-label="{{ page_category }}">
                    {{ item.title }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </li>
      {% endfor %}

			{# Only applied to the Donate button #}
			<li class="burger-menu-item {{ donate_menu.class }} {{ donate_menu == donate_menu.current ? 'active' : '' }}">
        <div class='item-wrapper'>
					<a
						class="nav-link"
						href="{{ donate_menu.get_link }}"
						data-ga-category="Menu Navigation"
						data-ga-action="Donate Menu"
						data-ga-label="{{ page_category }}">
							{{ donate_menu.title }}
					</a>
        	{% if donate_menu.children is not empty %}
						<button class="collapsable-btn" data-target="accordion-menu-{{ donate_menu.id }}" aria-expanded="false" aria-controls="accordion-menu-{{ donate_menu.id }}" />
        	{% endif %}
				</div>
        {% if donate_menu.children is not empty %}
          <nav id="accordion-menu-{{ donate_menu.id }}" class="accordion-menu">
            <ul>
            {% for key,item in donate_menu.children %}
              <li>
                <a
                  class="nav-link"
                  href="{{ item.get_link }}"
                  data-ga-category="Donate Menu"
                  data-ga-action="{{ item.title }}"
                  data-ga-label="{{ page_category }}">
                    {{ item.title }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </li>
		</ul>
  </nav>

	<aside class="nav-donate-sticky">
		<a
			class="btn btn-donate"
			href="{{ donate_menu.get_link }}"
			data-ga-category="Menu Navigation"
			data-ga-action="Donate Menu"
			data-ga-label="{{ page_category }}">
				{{ __( 'Make a donation', 'planet4-master-theme' ) }}
		</a>

	</aside>
</div>
<div class="top-navigation-overlay"></div>
